.projects-poster {
    width: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 4px solid #2db498;
    padding: 15px 10px;
    margin: 2% auto 2% auto;
    background-color: #2a2f35;
    border-radius: 10px;
}
.image-box,
.description-project {
    width: 50%;
    margin: 5px;
}
.image-box{
    display: flex;
    flex: 1;    
    align-items: center;
    border-radius: 14px;
}
.image-project {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #2db498;
}
.description-project{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 1;
    margin: 0 0 0 2%;
}
.azul {
    color:#2db498;
    font-weight: bold;
}
@media (min-width:1440px){
    .projects-poster{
        font-size: 21px;
    }
}
@media (min-width:1765px){
    .projects-poster{
        font-size: 23px;
    }
}
@media (min-width:1900px){
    .projects-poster{
        font-size: 29px;
    }
}

@media (max-width:1190px){
    .projects-poster{
        font-size: 17px;
    }
}
@media (max-width:1085px){
    .projects-poster{
        font-size: 16px;
        height: 37vh; 
    }
    .description-project{
        margin: 0px 0px 0px 0px;
        height: max-content;
    }
    .image-project{
        height: 90%;
        width: 90%;
    }
 
}
@media (max-width:975px){
    .projects-poster{
        font-size: 14px;
        height: 31vh; 
    }
    .description-project{
        margin: 0px 0px 0px -60px;
        height: max-content;
    }
    .image-project{
        height: 80%;
        width: 80%;
    }
}
@media (max-width: 800px) {
    .projects-poster{
        font-size: 14px;
        height: 22vh; 
    }
    .description-project{
        margin: 0px 0px 0px 10px;
        flex:2;
        height: 100%;
    }
    .image-box {
        flex: 1;
    }
    .image-project{
        height: 100%;
        width: 100%;
    } 
}
@media (max-width: 676px) {
    .projects-poster{
        font-size: 12px;
        height: 19vh; 
    }
    .description-project{
        margin: 0px 0px 0px 10px;
        flex:2;
        height: 100%;
    }
    .image-box {
        flex: 1;
    }
    .image-project{
        height: 100%;
        width: 100%;
    } 
}
@media (max-width: 596px) {
  .projects-poster{
      font-size: 10px;
      width: 90%;
      margin: 3% auto 3% auto;
  }
}
@media (max-width: 466px) {
    .projects-poster{
        font-size: 8px;
        width: 90%;
        margin: 3% auto 3% auto;
    }
}
@media (max-width: 392px) {
    .projects-poster{
        width: 98%;
        transform: scale(0.9);
    }
}