.menu-nav {
    width: 50%;
    
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0px 0 0 120px;
    font-size: 20px;
}
.list-item {
    text-align: center;
    list-style: none;
    margin: 0 2px 0 2px;
    padding: 0 5px;
    transition: .3s;
    font-weight: 600;
    
}
.list-item:hover {
    transition: .3s;
    color: #2db498;
}
@media(min-width:2100px){
    .list{
        font-size: 25px;
        padding: 0px 0 0 160px;
    }
}
@media (max-width: 765px) {
    .list {
        font-size: 17px;
        padding: 0px 0 0 100px;
    }
    .sobrelucas,.space {
        display: none;
    }
}
@media (max-width: 565px) {
    .list {
        padding: 0px 0 0 80px;
    }
    .sobrelucas,.space {
        display: none;
    }
}
