.identify-component {
    background-color: #2a2f35;
    width: 100%;
    margin: auto;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.border {
    border-top: 2px solid white; 
    margin: auto;
    width: 95%;
    padding: 0 5px;
}
.identify-box {
    width: 50%;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: #1a2130;
    padding: 5px;
    border-radius: 10px;
}
.photo-box {
    height: 90px;
    margin: auto 10px;
    border: 2px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color:#2db498;
}
.photo {
    width: 100%;
    height: 100%;
    border: 3px solid #1a2130;;
    border-radius: 50%;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:90%;
    border-top: 2px solid white;
    padding: 0 0;
}
.social-icon {
    font-size: 33px;
    margin: 11px 0;
    transition: .2s ease-in;
    cursor: pointer;
}
.social-icon:hover {
    color: #2db498;
    transition: .2s ease-in;
}
h1 {
    margin: 5px;
    font-size: 27px;
}
@media (max-width: 1185px){
    .photo-box{
        height: 80px;
    }
    h1 {
        font-size: 25px;
    }
}
@media (max-width: 1070px) {
    h1 {
        font-size: 23px;
    }
}
@media (max-width: 1030px) {
    .identify-box{
        width: 60%;
    }
    .photo-box{
        height: 70px;
    }
    h1 {
        font-size: 19px;
    }
    .social-icon {
        font-size: 28px;
    }
}
@media (max-width:745px){
    .identify-box{
        width: 65%;
    }
    .photo-box{
        height: 65px;
    }
}
@media (max-width:670px){
    .identify-box{
        width: 75%;
    }
    .photo-box{
        height: 55px;
    }
    h1 {
        font-size: 17px;
    }
}
@media (max-width: 565px){
    .identify-component{
        padding: 0 1%;
    }
    .identify-box{
        width: 85%;
    }
    .photo-box{
        height: 45px;
    }
}
@media (max-width: 460px){
    .identify-box{
        width: 98%;
    }
    .social-icon {
        font-size: 26px;
    }
    h1 {
        font-size: 14px;
    }
    .content-box{
        flex: 4;
    }
    .photo-box{
        flex: 1;
    }
}